<%- include('templates/header', {title: "Home"}) %>

<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #afbec9;"> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/img/landx16.png" alt="" width="30" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav me-0">
                    <li class="nav-item">
                    <% const who = loggedInUser ? loggedInUser.type : "" %> 
                    <% if (who == "user") { %>
                        <a class="nav-link" href="/user">User</a>
                    <% } else if(who == "registrar") { %>
                        <a class="nav-link" href="/registrar">Registrar</a>
                    <% } else if (who == "igr") { %>
                        <a class="nav-link" href="/igr">IGR</a>
                    <% } else if(who == "") { %>
                        <a class="nav-link" href="/login">Login</a>
                    <% } %>
                    </li>

                    <% if (who != "") { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <%= loggedInUser.name %>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <div id="full-screen-spinner-container" style="display: none;">
        <div class="spinner-border" id="full-screen-spinner" role="status"></div>
    </div>

    <div class="container mt-3 mb-5">
        <div class="text-center">
            <h3>Web Portal to</h3>
            <h1 class="text-info">Perform Real Estate Transactions Securely!</h1>
        </div>
        
        <h4 class="mt-5 text-center">Estate Details and History</h4>
        <!-- <form class="row mb-3" id="view_details">
            <div class="col">
                <input class="form-control" type="text" id="view_details_ulpin" placeholder="ULPIN" value="">
            </div>
            <div class="col">
                <button class="btn btn-success" id="view_details_submit">View</button>
            </div>
        </form> -->
        
        <form class="mb-3" id="view_details">
            <div class="d-flex flex-column flex-sm-row justify-content-center">
                <div class="my-1 my-sm-0 mx-sm-1">
                    <input class="form-control" type="text" id="view_details_ulpin" placeholder="ULPIN" value="<%= q_ulpin %>">
                </div>
                <div class="my-1 my-sm-0 mx-sm-1 align-self-center">
                    <button class="btn btn-success" id="view_details_submit">View</button>
                </div>
            </div>
        </form>

        <table id="view_details_result" class="table table-bordered border-dark mb-3">
            <thead hidden="hidden">
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr hidden="hidden">
                    <td class="table-active"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <!-- <table id="table_owned" class="table table-dark table-bordered table-hover"> -->
        <table id="view_transactions" class="table table-bordered table-hover mb-5" hidden="hidden">
            <thead>
                <tr>
                    <th scope="col" id="col_tran" style="cursor: pointer;">Transaction</th>
                    <th scope="col">Date-Time</th>
                    <th scope="col">Seller</th>
                    <th scope="col">Buyer</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Price</th>
                    <th scope="col">Office Code</th>
                    <th scope="col">Approved By</th>
                    <th scope="col">Approved On</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <h4 class="text-center">User Details</h4>
        <!-- <form class="row mb-3" id="view_user">
            <div class="col">
                <input class="form-control" type="text" id="view_user_uid" placeholder="UID" value="">
            </div>
            <div class="col">
                <button class="btn btn-success" id="view_user_submit">View</button>
            </div>
        </form> -->
        
        <form class="mb-3" id="view_details">
            <div class="d-flex flex-column flex-sm-row justify-content-center">
                <div class="my-1 my-sm-0 mx-sm-1">
                    <input class="form-control" type="text" id="view_user_uid" placeholder="UID" value="<%= q_uid %>">
                </div>
                <div class="my-1 my-sm-0 mx-sm-1 align-self-center">
                    <button class="btn btn-success" id="view_user_submit">View</button>
                </div>
            </div>
        </form>

        <table id="view_user_result" class="table table-bordered border-dark mb-3">
            <thead hidden="hidden">
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr hidden="hidden">
                    <td class="table-active"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
<!-- filter -->

<h4 class="text-center">Filter Estates</h4>

<form id="filter_estates" class="mb-3">
    <div class="d-flex flex-column flex-sm-row justify-content-center">
        <div class="my-1 my-sm-0 mx-sm-1">
            <select class="form-select" name="filter_estates_district" id="filter_estates_district">
                <option value="">-- District --</option>
                <option value="Thane">Thane</option>
                <option value="Raigad">Raigad</option>
            </select>
        </div>

        <div class="my-1 my-sm-0 mx-sm-1">

            <select class="form-select" name="filter_estates_taluka" id="filter_estates_taluka">
                <option value="">-- Taluka --</option>
            </select>
        </div>

        <div class="my-1 my-sm-0 mx-sm-1 align-self-center">
            <button class="btn btn-success" id="filter_estates_submit">Filter</button>
        </div>
    </div>
</form>

<div>
    <!-- <table id="table_owned" class="table table-dark table-bordered table-hover"> -->
    <table id="table_filter" class="table table-bordered table-hover">
        <thead hidden="hidden">
            <tr class="align-middle">
                <th scope="col">ULPIN</th>
                <th scope="col">Owner</th>
                <th scope="col">Area (m<sup>2</sup>)</th>
                <th scope="col">Location</th>
                <th scope="col">Sale Availability</th>
                <th scope="col">Being Sold</th>
                <th scope="col" class="text-center">More</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="query_data" data-ulpin="<%= q_ulpin %>" data-uid="<%= q_uid %>" hidden="hidden"></div>

    </div>

    <%- include('templates/footer') %>
    
    <script>
        'use strict';

        $(document).ready(function () {
            function submitForm(url, method, data) {
                return $.ajax({
                    type: method,
                    url: url,
                    data: data,
                    dataType: 'json',
                })
            }

            let format_row = (attr, val) => `<tr><td class="table-active">${attr}</td><td>${val}</td></tr>`

            /////////////////////////////////

            function sortTransactioTable() {
                let rows =$("#col_tran").parents("table").children("tbody").children("tr").toArray();
                rows.sort(function(a, b) {
                    let aNum = Number(a.children[0].innerText);
                    let bNum = Number(b.children[0].innerText);

                    return aNum === bNum ? 0 : (aNum>bNum ? 1 : -1)
                });

                $("#view_transactions tbody").html("");

                for(let i=0; i<rows.length; i++)
                    $("#view_transactions tbody").append(rows[i].outerHTML);

                console.log("sorted...");
            }

            $("#col_tran").click(function() {
                sortTransactioTable();
            });


            $("#view_details_submit").click(function(e) {
                e.preventDefault();

                const ulpin = $("#view_details_ulpin").val();

                if (ulpin.length == 0) return;

                $("#full-screen-spinner-container").show()

                const tb = $("#view_details_result tbody");
                tb.html("");

                const tb1 = $("#view_transactions tbody");
                tb1.html("");

                $("#view_transactions").attr("hidden", "hidden");

                const data0 = {
                    ulpin: ulpin
                }

                submitForm("/details/estate", "GET", data0)
                .done(function(res) {
                    $("#view_details_result thead").removeAttr('hidden');

                    // {
                    //     "area": 201,
                    //     "beingSold": false,
                    //     "location": "Village: X, Taluka: Y, District: Z, Pin: 123456",
                    //     "officeCode": "THN1",
                    //     "owner": "123456789021",
                    //     "purchasedOn": "2022-01-16T03:29:00+05:30",
                    //     "requests": [],
                    //     "saleAvailability": true,
                    //     "status": 1,
                    //     "transactionsCount": 2
                    // }

                    tb.append(format_row("ULPIN", ulpin));
                    tb.append(format_row("Owner", res.owner));
                    tb.append(format_row("Area", res.area + " m<sup>2</sup>"));
                    tb.append(format_row("Location", res.location));
                    tb.append(format_row("Purchased On", new Date(res.purchasedOn).toLocaleString()));
                    tb.append(format_row("Status", res.status == 0 ? "Not Verified": (res.status == 1 ? "Verified" : "Suspended")));
                    tb.append(format_row("Office Code", res.officeCode));
                    tb.append(format_row("Sale Availability", res.saleAvailability ? "Available":"Not Available"));
                    tb.append(format_row("Being Sold", res.beingSold ? "Yes":"No"));

                    if(res.transactionsCount > 0) $("#view_transactions").removeAttr('hidden');
                    

                    for(let i=1; i<=res.transactionsCount; i++) {
                        let data1 = {
                            ulpin: ulpin,
                            transactionNum: i
                        }

                        submitForm("/details/transaction", "GET", data1)
                        .done(function(res1) {
                            // {
                            //     "approvedBy": "123456789013",
                            //     "approvedDateTime": "2022-01-15T01:35:00+05:30",
                            //     "buyer": "123456789022",
                            //     "officeCode": "THN1",
                            //     "price": 999,
                            //     "reason": "sell",
                            //     "seller": "123456789021",
                            //     "transactionDateTime": "2022-01-15T01:33:00+05:30"
                            // }

                            tb1.append(`
                            <tr>
                                <td>${i}</td>
                                <td>${new Date(res1.transactionDateTime).toLocaleString()}</td>
                                <td>${res1.seller}</td>
                                <td>${res1.buyer}</td>
                                <td>${res1.reason}</td>
                                <td>${res1.price}</td>
                                <td>${res1.officeCode}</td>
                                <td>${res1.approvedBy}</td>
                                <td>${new Date(res1.approvedDateTime).toLocaleString()}</td>
                            </tr>
                            `)
                        })
                        .fail(function(err1) {
                            console.log(err1)
                        });
                    }

                    $("#full-screen-spinner-container").hide()
                })
                .fail(function(err) {
                    $("#view_details_result thead").attr('hidden', 'hidden');
                    $("#view_details_result thead").attr('hidden', 'hidden');
                    console.log(err);
                });
            });


            $("#view_user_submit").click(function(e) {
                e.preventDefault();

                const uid = $("#view_user_uid").val()

                if (uid.length == 0) return;

                $("#full-screen-spinner-container").show();

                const tb = $("#view_user_result tbody");
                tb.html("");

                $("#view_user_result thead").attr('hidden', 'hidden');

                const data = {
                    uid: uid
                }

                submitForm('/details/user', "GET", data)
                .done(function(res) {
                    // {
                    //     "name": "User01",
                    //     "owned": [
                    //         "101",
                    //         "102",
                    //         "103"
                    //     ],
                    //     "password": "123456",
                    //     "status": 1,
                    //     "uid": "123456789021"
                    // }

                    $("#view_user_result thead").removeAttr('hidden');

                    tb.append(format_row("Name", res.name));
                    tb.append(format_row("Status", res.status == 0 ? "Not Verified" : (res.status == 1 ? "Verified" : "Suspended")));
                    tb.append(format_row("Owned", res.owned.join(", ")));

                    $("#full-screen-spinner-container").hide()
                })
                .fail(function(err) {
                    console.log(err);
                });
            });

            /* Filter Real Estates */
            $("#filter_estates_submit").click(function (e) {
                e.preventDefault();
                $("#full-screen-spinner-container").show();

                const district = $("#filter_estates_district").val();
                const taluka = $("#filter_estates_taluka").val();

                if (district.length == 0 || taluka.length == 0) {
                    alert("Please select both Taluka and District!");
                    $("#full-screen-spinner-container").hide();
                    return;
                }

                const data = {
                    district: district,
                    taluka: taluka,
                }

                submitForm("/filter/estate", "POST", data)
                    .done(function (res) {
                        console.log(res);
                        $("#table_filter thead").removeAttr('hidden');

                        let table_rows = res.length > 0 ? '' : `<tr><td colspan="7" class="text-center">--- No Estates Found ---</td></tr>`;

                        res.forEach(element => {
                            table_rows += `
                            <tr>
                                <td>${element.ulpin}</td>
                                <td>${element.owner}</td>
                                <td>${element.area}</td>
                                <td>${element.location}</td>
                                <td>${element.saleAvailability ? "Available" : "Not Available"}</td>
                                <td>${element.beingSold ? "Yes" : "No"}</td>
                                <td class="text-center"><a href="/?ulpin=${element.ulpin}&uid=${element.owner}" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a></td>
                            </tr>
                            `
                        });

                        $("#table_filter tbody").html(table_rows);

                        $("#full-screen-spinner-container").hide();
                    })
                    .fail(function (err) {
                        console.log(err);
                    });

                $("#full-screen-spinner-container").hide()
            });

            // -----------------------------

            const q_ulpin = $("#query_data").attr("data-ulpin");
            const q_uid = $("#query_data").attr("data-uid");


            $(window).on('load', function () {

                if (q_uid.length > 0 && q_ulpin.length > 0) {
                    // setTimeout(function () {
                    // }, 5000);
                    $("#view_details_submit").click();
                    $("#view_user_submit").click();
                }
            })

            // ----------------------------------

            $("#filter_estates_district").on('change', function () {
                const taluka_list = {
                    "District": [],
                    "Thane": ["Thane", "Bhiwandi", "Kalyan"],
                    "Raigad": ["Karjat", "Khopoli", "Panvel"]
                }

                let taluka_html = `<option value="">-- Taluka --</option>`
                const current_list = taluka_list[$("#filter_estates_district").val()] || [];

                current_list.forEach(element => {
                    taluka_html += `<option value="${element}">${element}</option>`
                });

                $("#filter_estates_taluka").html(taluka_html);
            });
        });


    </script>

</body>

</html>