<%- include('../templates/header', {title: "User"}) %>

<body>
    <%- include('../templates/menu', {who: loggedInUser ? loggedInUser.type : ""}) %>

    <div class="container mt-3">
        <h3>Pay Stamp Duty and Registration Charges</h2>

        <table class="table table-bordered border-dark">
            <tr>
                <td class="table-active">Servey No.</td>
                <td><span id="data_serveyNo"><%= serveyNo %></span></td>
            </tr>
            <tr>
                <td class="table-active">Transaction Id</td>
                <td><span id="data_transactionId"><%= transactionId %></span></td>
            </tr>
        </table>

        <% if (isPaid == 1) { %>
            <p><strong>PAID</strong></p>
        <% } else { %>
            <form id="tax_pay">
                <button class="btn btn-success" id="tax_pay_submit">Pay</button>
            </form>
        <% } %>
            
    </div>

    <%- include('../templates/footer') %>

    <script>
        'use strict';

        $(document).ready(function () {
            function submitForm(url, method, data) {
                return $.ajax({
                    type: method,
                    url: url,
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: data,
                    dataType: 'json',
                })
            }


            $("#tax_pay_submit").click(function (e) {
                e.preventDefault();

                const data = {
                    serveyNo: $("#data_serveyNo").text(),
                    transactionId: $("#data_transactionId").text()
                }

                submitForm("/tax/pay", "POST", data)
                    .always(function (res) {
                        window.location.replace(res.redirectURL);
                    });
            });

        });
    </script>

</body>

</html>