<%- include('../templates/header', {title: "User"}) %>

<body>

    <div class="container">
        <div class="text-center">
            <h1>User Page</h1>
        </div>

        <%- include('../templates/menu') %>

        <pre><%= JSON.stringify(currentUser, null, 4) %></pre>

        <h2>Pay Stamp Duty and Registration Charges</h2>

        <p>ServeyNo: <span id="data_serveyNo"><%= serveyNo %></span></p>
        <p>TransactionId: <span id="data_transactionId"><%= transactionId %></span></p>
        <% if (isPaid == 1) { %>
            <p><strong>PAID</strong></p>
        <% } else { %>
            <form id="tax_pay">
                <button id="tax_pay_submit">Pay</button>
            </form>
        <% } %>
            
    </div>

    <%- include('../templates/footer') %>

    <script>
        'use strict';

        $(document).ready(function () {
            function submitForm(url, method, data) {
                return $.ajax({
                    type: method,
                    url: url,
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: data,
                    dataType: 'json',
                })
            }


            $("#tax_pay_submit").click(function (e) {
                e.preventDefault();

                const data = {
                    serveyNo: $("#data_serveyNo").text(),
                    transactionId: $("#data_transactionId").text()
                }

                submitForm("/tax/pay", "POST", data)
                    .always(function (res) {
                        window.location.replace(res.redirectURL);
                    });
            });

        });
    </script>

</body>

</html>