<%- include('../templates/header', {title: "User"}) %>

<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #afbec9;"> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/img/landx16.png" alt="" width="30" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav me-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/user">User</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <%= loggedInUser.name %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="full-screen-spinner-container" style="display: none;">
        <div class="spinner-border" id="full-screen-spinner" role="status"></div>
    </div>

    <div class="container mt-3">
        <h3>Pay Stamp Duty and Registration Charges</h2>

        <table class="table table-bordered border-dark">
            <tr>
                <td class="table-active">ULPIN</td>
                <td><span id="data_ulpin"><%= ulpin %></span></td>
            </tr>
            <tr>
                <td class="table-active">Transaction Id</td>
                <td><span id="data_transactionId"><%= transactionId %></span></td>
            </tr>
        </table>

        <% if (isPaid == 1) { %>
            <p><strong>PAID</strong></p>
        <% } else { %>
            <form id="tax_pay">
                <button class="btn btn-success" id="tax_pay_submit">Pay</button>
            </form>
        <% } %>
            
    </div>

    <%- include('../templates/footer') %>

    <script>
        'use strict';

        $(document).ready(function () {
            function submitForm(url, method, data) {
                return $.ajax({
                    type: method,
                    url: url,
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: data,
                    dataType: 'json',
                })
            }


            $("#tax_pay_submit").click(function (e) {
                e.preventDefault();
                $("#full-screen-spinner-container").show();

                const data = {
                    ulpin: $("#data_ulpin").text(),
                    transactionId: $("#data_transactionId").text()
                }

                submitForm("/tax/pay", "POST", data)
                    .always(function (res) {
                        window.location.replace(res.redirectURL);
                    });
            });

        });
    </script>

</body>

</html>